@import './global.less';
@import './variables.less';

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  perspective: 300px 0;
  -webkit-perspective: 300px 0;
  overflow-x: hidden;
  .item {
    &:extend(.flex-center);
    flex-direction: column;
    width: 20%;
    min-height: 25vw;
    margin: 2rem 1rem;
    border: .2rem solid #ddd;
    border-radius: 1rem;
    background: lightyellow;
    word-break: keep-all;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    &:hover {
      border: .2rem solid #ddd;
      transform: rotateY(180deg) scale(1.1);
      -webkit-transform: rotateY(180deg) scale(1.1);
    }
    .item-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: .5rem 0;
      padding: 1rem;
      font-size: .8rem;
      .label {
        color: #333;
        font-size: .7rem;
        font-style: italic;
      }
      .value {
        font-style: italic;
        text-indent: 2em;
      }
    }
    .word {
      position: absolute;
      height: 100%;
      color: @word-title;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      line-height: 2rem;
      border-radius: 1rem;
      background: lightcyan;
      backface-visibility: hidden;
      user-select: none;
      .word-id {
        &:extend(.flex-center);
        position: fixed;
        top: -1rem;
        left: -4rem;
        width: 8rem;
        color: #666;
        font-size: 2rem;
        transform: rotateZ(-15deg);
        -webkit-transform: rotateZ(-15deg);
      }
    }
    .explanation {
      color: @word-explanation;
      line-height: 1.25rem;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
    }
    .sentence {
      color: @word-sentence;
      line-height: 1.25rem;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
    }
  }
}