* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html body {
  min-height: 100vh;
}
.item {
  padding: 1rem;
}
.item .label {
  flex-shrink: 0;
  width: 10rem;
  padding: 0 1rem;
  color: #333;
  font-size: 1rem;
  text-align: right;
}
.item .item-row {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.item .word {
  color: #8e44ad;
  font-size: 1.8rem;
  font-weight: bold;
}
.item .explanation {
  color: #27ae60;
  font-size: 1.3rem;
}
.item .sentence {
  color: #d35400;
  font-size: 1.3rem;
}
